<div class="container mt-100 flex-row">
    <div class="row">
   <div class="col-md-4 col-sm-6" *ngFor="let item of product">
      <div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
        <div class="inner">
           <div class="main-img"><img [src]="item.image" alt="Category" height="300px" width="300px" ></div>
         </div></a>
       <div class="card-body text-center">
          <h4 class="card-title">{{item.productName}}</h4>
          <p class="text-muted">{{item. productDescription}}</p>
          <p class="text-muted">${{item.price}}</p><a class="btn btn-outline-primary btn-sm" (click)="AddToCart(item)" >Add to Cart</a>
      
      </div>
       </div>
     </div> 
  </div>
  
  </div>
  <div id="footer"
  class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-info">
  <!-- Copyright -->
  <div class="text-white mb-3 mb-md-0">
    Copyright © 2020. All rights reserved.
  </div>
  <!-- Copyright -->

  <!-- Right -->
  <div>
    <a href="#!" class="text-white me-4">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#!" class="text-white me-4">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#!" class="text-white me-4">
      <i class="fab fa-google"></i>
    </a>
    <a href="#!" class="text-white">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
  <!-- Right -->
</div>
