
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
                  
                  <form class="mx-1 mx-md-4" [formGroup]="exform">
                    <p>
                      All <span class="required">*</span> marked fields are mandatory
                      </p> 
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="col-form-label control-label">User Name:</label>
                        <input type="text" formControlName="name" id="form3Example1c" class="form-control" placeholder="Enter Username" id="name" name="name" [(ngModel)]="user.Name"/>
                        <small *ngIf="exform.get('name')?.invalid && exform.get('name')?.touched " class="text-danger">Username Should Contain only Alphabet</small>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="col-form-label control-label">Email:</label>
                        <input formControlName="email" type="email" id="form3Example3c" class="form-control" placeholder="Enter Email" [(ngModel)]="user.Email" required name="Email" />
                        <small *ngIf="exform.get('email')?.invalid && exform.get('email')?.touched " class="text-danger">Please Enter valid Email</small>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div class="form-outline flex-fill mb-0">
                        <label class="col-form-label control-label">Password:</label>
                        <input formControlName="password" type="password" id="form3Example4c" class="form-control" placeholder="Enter password" [(ngModel)]="user.Password" required name="Password"/>
                        <small *ngIf="exform.get('password')?.invalid && exform.get('password')?.touched " class="text-danger">Password should contain Alphabet and numberic value and atleast one special character  </small>
                      </div>

                    </div>
  
                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button [disabled]="exform.invalid" type="button" class="btn btn-primary btn-lg" (click)="registerUser()">Register</button>
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div id="footer"
  class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-info">
  <!-- Copyright -->
  <div class="text-white mb-3 mb-md-0">
    Copyright © 2020. All rights reserved.
  </div>
  <!-- Copyright -->

  <!-- Right -->
  <div>
    <a href="#!" class="text-white me-4">
      <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#!" class="text-white me-4">
      <i class="fab fa-twitter"></i>
    </a>
    <a href="#!" class="text-white me-4">
      <i class="fab fa-google"></i>
    </a>
    <a href="#!" class="text-white">
      <i class="fab fa-linkedin-in"></i>
    </a>
  </div>
  <!-- Right -->
</div>
