p{
    text-align: center;
}
.register-layout{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.form-layout{
    display: flex;
    flex-direction: column;
}
#footer {
    position: absolute;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    /* Height of the footer*/
    height: 40px;
    background: grey;
}
.control-label::after
{
    content:"*";
    color:red;
}
.required{
    color:red;
    font-weight:2rem;
    font-size:medium;
}
p{
    font-weight: bold;
}