html {
  font-size: 14px;
}

@media (min-width: 768px) {
    

    html {
        font-size: 16px;
    }
   
}
/*@media screen and (max-device-width:640px), screen and (max-width:640px) {
    .form {
        Width: 100% !important;
    }
   
}*/

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}