
<input #checkbox1 type="checkbox" name="toggle" id="toggle">
<label for="toggle"></label>
<div class="container">
</div>
<div class="formAdd">
    <form autocomplete="off"    #myForm="ngForm" (ngSubmit)="myForm.form.valid && submit(myForm)" >
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <input type="hidden" name="id" [value]="productservice. ProductData.productID">
 
                    <label for="name" class="float-left">Product Name</label>
                    <div *ngIf="uname.invalid && (uname.touched || uname.dirty)" class="float-right">
                        <p class="text-danger">Please Enter Valid Name</p>
                    </div>
                    <input type="text" name="txtname" minlength="5" maxlength="10" class="form-control" [pattern]="unamePattern" placeholder="Enter Product Name" #uname="ngModel" [(ngModel)]="productservice. ProductData.productName" required>
                    <!-- <div *ngIf="uname.errors?.pattern" class="float-right">
                        <p class="text-danger">Required</p>
                    </div> -->
                </div>
 
                <div class="col-md-3">
                    <label for="name" class="float-left">Category</label>
                    <div *ngIf="Category.invalid && (Category.touched || Category.dirty)" class="float-right">
                        <p class="text-danger">Required</p>
                    </div>
                    <input type="text" name="Category" minlength="5" maxlength="10" [pattern]="unamePattern" class="form-control" placeholder="Enter Category" #Category="ngModel" [(ngModel)]="productservice. ProductData.productCategory" required>
                </div>
 
                <div class="col-md-3">
                    <label for="name" class="float-left">Description</label>
                    <div *ngIf="description.invalid && (description.touched || description.dirty)" class="float-right">
                        <p class="text-danger">Required</p>
                    </div>
                    <input type="text" name="description" minlength="5" maxlength="10" [pattern]="unamePattern" class="form-control" placeholder="Enter Description" #description="ngModel" [(ngModel)]="productservice. ProductData.productDescription" required>
                </div>
 
                <div class="col-md-3">
                    <label for="name" class="float-left">Price</label>
                    <div *ngIf="price.invalid && (price.touched || price.dirty)" class="float-right">
                        <p class="text-danger">Please Enter valid Price</p>
                    </div>
                    <input type="number" name="price" pattern="^[1-9]\d*(?:\.\d+)?$" class="form-control" placeholder="Enter Price" #price="ngModel" [(ngModel)]="productservice. ProductData.price" required>
                </div>
            </div>
 
            <div class="col-md-3">
                <label for="name" class="float-left">Image Path</label>
                <div *ngIf="Category.invalid && (image.touched || image.dirty)" class="float-right">
                    <p class="text-danger">Required</p>
                </div>
                <input type="text" name="image" class="form-control" placeholder="Enter Image path" #image="ngModel" [(ngModel)]="productservice. ProductData.image" required>
            </div>
 
            <div class="row">
                <div class="col-md-8"></div>
                <div class="col-md-2">
                    <button type="submit"  class="btn btn-success btn-block">Save</button>
                </div>
                <div class="col-md-2">
                    <button type="reset" class="btn btn-danger btn-block">Cancel</button>
                </div>
            </div>
 
 
        </div>
    </form>
 </div>
