﻿@model ProductMvcProject.Models.LoginInfo
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}



<div class="container">
    <div class="row mt-lg-5">
        <div class="col-md-6 col-lg-4 offset-4 border border-primary rounded pl-5 pr-5 pb-5 ">
            <h3 class="text-center mb-0">Welcome</h3>
		      	<p class="text-center">login in by entering the information below</p>
          
            @if (TempData["alert"] != null)
            {
            <div class="alert alert-danger mt-2">
            @TempData["alert"]
            </div>
   
   
             }
            <form method="post" asp-action="Login">
                <div class="form-group mt-2">
                    <label asp-for="Username"></label>
                    <input type="text" asp-for="Username" placeholder="Enter Username" class="form-control" autocomplete="off" />
                </div>
                 <div class="form-group mt-2">
                    <label asp-for="Password"></label>
                    <input type="password" asp-for="Password" placeholder="Enter Password" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group mt-2">      
            <button type="submit" class="btn form-control btn-primary rounded submit px-3">Login </button></div>
            </form>
            <div class="w-100 text-center mt-4 text">
	          	<p class="mb-0">Don't have an account?</p>
		          <a  class="text-light btn btn-primary font-weight-bold mt-2" asp-action="Register" asp-controller="User">Sign Up</a>
	          </div>
        </div>
    </div>
</div>

