﻿@model ProductMvcProject.Models.UserInfo

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutRegister.cshtml";
}

<style type="text/css">
    .control-label::after
    {
        content:"*";
        color:red;
    }
    .required{
        color:red;
        font-weight:2rem;
        font-size:medium;
    }
</style>



<div class="container">
<div class="row mt-lg-5">
    <div class="col-md-6 col-lg-4 offset-4 border border-primary rounded pl-5 pr-5 pb-5 ">
        <p>
        <span class="required">*</span> Required Field
        </p>
        <form asp-action="Register">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-info text-center text-white bg-success font-weight-bold form-group form-control">Registration Form</div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label" class="required"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"class="required"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label" class="required"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label" class="required"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group mt-2">      
            <button type="submit" class="btn form-control btn-primary rounded submit px-3">Registeration</button></div>
        </form>
    </div>
</div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


