

<!-- <app-register></app-register> -->
<!-- <app-product></app-product> -->
<!-- <h1>Product App </h1>

<ul type="none">
    <li>
        <a href="" routerLink="register">Regitser</a>
    </li>
    <li>
        <a href="" routerLink="login">Login</a>
    </li>
</ul> -->

<!-- <app-nav></app-nav> -->
<app-header></app-header>
<router-outlet></router-outlet>
