
<div class="container">
    <div class="row mt-lg-5">
        <div class="col-md-6 col-lg-4 offset-4 border border-primary rounded pl-5 pr-5 pb-5 ">
            <h3 class="text-center mb-0">Welcome</h3>
		      	<p class="text-center">login in by entering the information below</p>
          
           
            <form>
                <div class="form-group mt-2">
                    <label >Username</label>
                    <input type="text"  placeholder="Enter Username" class="form-control" autocomplete="off" />
                </div>
                 <div class="form-group mt-2">
                    <label>Password</label>
                    <input type="password"  placeholder="Enter Password" class="form-control" autocomplete="off" />
                </div>
                <div class="form-group mt-2">      
            <button type="submit" class="btn form-control btn-primary rounded submit px-3">Login </button></div>
            </form>
            
        </div>
    </div>
</div>

