<!-- <p>header works!</p> -->

<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Product App</span>
      <span class="example-spacer"></span>
      <button mat-raised-button color="accent" routerLink="register">Register</button>
      <span class="example-spacer"></span>
      <button mat-raised-button color="accent" routerLink="login">Login</button>
      <span class="example-spacer"></span>
      <button mat-raised-button color="accent" routerLink="logout">Logout</button>
    </mat-toolbar-row>
