.btn1{
    margin-right: 30px;
    padding: 10px 20px;
 }
 .btn2{
    margin-left: 20px;
 }
 #footer {
   position:  absolute;
   padding: 10px 10px 0px 10px;
   bottom: 0;
   width: 100%;
   /* Height of the footer*/
   height: 40px;
   background: grey;
}
#user_table{
  
   border: 1px solid #ddd;
}
