
  <div class="container">
    <app-product-form></app-product-form>
    
    <table class="table table-hover" id="#user_table" >
        <thead class="thead-dark">
         <tr>
          <th></th>
          <th>Product</th>
          <th>Category</th>
          <th>Description</th>
          <th>Price</th>
          <th>Actions</th>
         </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of productservice.listproducts"> 
            <td><img [src]="product.image" width="80px" height="80px"></td>
            <td>{{product.productName}}</td>
            <td>{{product.productCategory}}</td>
            <td>{{product. productDescription}}</td>
            <td>{{product.price}}</td>
            <td>
              <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                   Actions
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item"  (click)="populateEmployee(product)">Edit</a>
                    <a class="dropdown-item"(click)="delete(product.productID)">Delete</a>
                    
                  </div>
                </div>
            </td>
           
          </tr>
        </tbody>
    </table>
  </div>
    <div id="footer"
    class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-info">
    <!-- Copyright -->
    <div class="text-white mb-3 mb-md-0">
      Copyright © 2020. All rights reserved.
    </div>
    <!-- Copyright -->
  
    <!-- Right -->
    <div>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="#!" class="text-white me-4">
        <i class="fab fa-google"></i>
      </a>
      <a href="#!" class="text-white">
        <i class="fab fa-linkedin-in"></i>
      </a>
    </div>
    <!-- Right -->
  </div>