﻿@model MvC_Core.Models.Usercs

@{
    ViewData["Title"] = "Adduser";
}

<h1>Adduser</h1>

<h4>Usercs</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Adduser">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="Id" class="control-label"></label>*@
                <input  asp-for="Id" class="form-control" hidden />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input  asp-for="Name" class="form-control" onkeydown="return /[a-z]/i.test(event.key)" maxlength="10" minlength = "4" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <input type="text" asp-for="Location" class="form-control" onkeydown="return /[a-z]/i.test(event.key)" maxlength="10" minlength = "4"  />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="GetAlluser">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
