﻿@model MvC_Core.Models.Usercs

@{
    ViewData["Title"] = "DeleteElement";
}

<h1>DeleteElement</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Usercs</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
    </dl>
    
    <form asp-action="DeleteElement">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="GetAlluser">Back to List</a>
    </form>
</div>
