﻿@model IEnumerable<MvC_Core.Models.Usercs>

@{
    ViewData["Title"] = "GetAllUser";
}

<h1>GetAllUser</h1>
@if (TempData["Alert"]!=null)
{
    <div class="alert alert-success">
        <strong>Success !!!!</strong>@TempData["Alert"]
    </div>
}
<p>
    <a asp-action="AddUser">Add User</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
