﻿@model IEnumerable<ResumeApplication.Models.User>

@{
    ViewData["Title"] = "User List";
}
<style type="text/css">
.red-color {
        color:red;
    }    

</style>
<p>
    @*<a asp-action="RegisterUser">Register Here</a>*@
   <button><a asp-action="RegisterUser" class="link-danger" style = "text-decoration: none;">Click Here to Register</a></button> 
</p>
 <div class="table-responsive">
<table class="table table-bordered table-hover table-striped" id="myTable" style="width:100%;padding-top:30px;">
    <thead class="thead-dark">
        <tr class="active">
            <th>
                Name 
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.AlternateEmail)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.Password)
            </th>*@
            <th>
               @* @Html.DisplayNameFor(model => model.Jobtype)*@
               Job Type
            </th>
            <th>
@*                @Html.DisplayNameFor(model => model.UserStatus)*@
                    User Status
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaritalStatus)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.country.CountryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.state.StateName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.District)
            </th>*@
           @* <th>
                @Html.DisplayNameFor(model => model.city)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Locality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HighestQualification)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialization)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Institue)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.OtherInstitue)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreferedLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReadyToRelocate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalExperience)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeySkills)
            </th>*@
           @* <th>
                @Html.DisplayNameFor(model => model.CurrentIndustry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentEmployer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentDesignation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreviousEmployer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PreviousDesignation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoticePeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CtcNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResumeTitle)
            </th>*@
            <th>
              @*  @Html.DisplayNameFor(model => model.ResumePath)*@
              Resume
            </th>
           @* <th>
                @Html.DisplayNameFor(model => model.Resume)
            </th>*@
            @*<th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsDeleted)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeletedOn)
            </th>
            <th></th>*@
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="danger">
            <td>
                @Html.DisplayFor(modelItem => item.FirstName) @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.AlternateEmail)
            </td>*@
           @* <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>*@
           @* <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Jobtype)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
           @* <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaritalStatus)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.country.CountryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.state.StateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.District)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city.CityName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Locality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HighestQualification)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.Institue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OtherInstitue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreferedLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadyToRelocate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalExperience)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeySkills)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentIndustry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentEmployer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentDesignation)
            </td>*@
           @* <td>
                @Html.DisplayFor(modelItem => item.PreviousEmployer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreviousDesignation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoticePeriod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CtcNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ResumeTitle)
            </td>*@
            <td>
               @*<a href="/Resume/@Html.DisplayFor(modelItem => item.ResumePath)" target="_blank"><i class='fas fa-file-pdf red-color'></i></a> *@
               <a asp-action="DownloadResume" asp-route-file="@item.ResumePath"><i class='fas fa-file-pdf red-color'></i></a>
            </td>
            
            <td>

               
                <div id=@item.UserID style='display:none'> 
                  Name:@item.FirstName @item.LastName<br>
                  Email Address : @item.Email<br>
                  Job Type : @item.Jobtype<br>
                  User Status :@item.UserStatus<br>
                  Phone Number :@item.PhoneNumber<br>
                  Date Of Birth :@item.DateOfBirth<br>
                  Gender :@item.Gender<br>
                  Marital Status :@item.MaritalStatus

                </div> 
               <input type="button" class="btn btn-info" value="Print" onclick="JavaScript:printPartOfPage(@item.UserID);"/> 
               
           
            </td>
           @* <td>*@
                 @*@Html.DisplayFor(modelItem => item.Resume)*@
                    @*var selector = @item.FirstName + @item.LastName;*@
                    <!-- Button trigger modal -->
                    @*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#selector">
                      View Resume
                    </button>*@

                    <!-- Modal -->
                   @* <div class="modal fade" id="selector" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Resume</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            @Html.Raw(item.Resume)
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        
                          </div>
                        </div>
                      </div>
                    </div>*@
                
              
                
                
            @*</td>*@
           @* <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeletedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.UserID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.UserID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.UserID">Delete</a>
            </td>*@
        </tr>
}
    </tbody>
</table>
</div>
<script type="text/javascript">  
function printPartOfPage(elementId) {  
var printContent = document.getElementById(elementId);  
var windowUrl = 'about:blank';  
var uniqueName = new Date();  
var windowName = 'Print' + uniqueName.getTime();  
var printWindow = window.open(windowUrl, windowName, 'left=50000,top=50000,width=0,height=0');  

printWindow.document.write('<html><head><title>User Details</title>');
printWindow.document.write(printContent.innerHTML);  
printWindow.document.close();  
printWindow.focus();  
printWindow.print();  
printWindow.close();  
}  
</script>  