﻿@model ResumeApplication.Models.User
@{
    ViewData["Title"] = "Registeration Form";
}

@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        @TempData["success"]
    </div>
}
<style>

  label {
 font-family: Georgia, "Times New Roman", Times, serif;
 font-size: 18px;
 color: #333;
 height: 20px;
 width: 200px;
 margin-top: 10px;
 margin-left: 10px;
 text-align: right;
 clear: both;
 float:left;
 display:flex;
 flex-direction:row
}
.form-group {
    display:flex;
    margin:2px;
    
}

.login-in
{
    border:1px solid black;
   /* max-width: 2000px;*/
    width:1000px;
    /*height:500px;*/
   /* width: 800%;*/
    max-width: 2000px;
     /*width: fit-content;*/
   /* width:max-content;*/
    height: auto;
    
   
}

.persoanl{
     border:1px solid black;
    width:1000px; 
    /* max-width: 2000px;*/
    /*height:550px;*/
    /* width: 800%;*/
    max-width: 2000px;
     /*width:max-content;*/
      /*width: fit-content;*/
    margin: auto;
    height: auto;
    margin-top:20px;
}
.professional{
     border:1px solid black;
    width:1000px; 
   max-width: 2000px;
  /* width:max-content;*/
    /*width: fit-content;*/
   margin: auto;
    height: auto;
    
   
   /* max-width: 5000px;
    height: auto;*/
    margin-top:20px;

}
.education{
    border:1px solid black;
    width:1000px; 
    /* max-width: 2000px;*/
    /*height:250px;*/
    /* width: 800%;*/
     max-width: 2000px;
      /*width: fit-content;*/
      /*width:max-content;*/
     margin: auto;
    height: auto;
    margin-top:20px;
}
 .form-control
{
    
    width:50%; 
    margin:5px;
}

#jobtype{
    width:50%; 
    margin:5px;
    padding:6px;
}
#status{
 width:50%; 
margin:5px;
 padding:6px;
}
#gender{
    width:50%; 
    margin:5px;
    padding:6px;
}
#maritalstatus{
     width:50%; 
    margin:5px;
    padding:6px;
}
.form-group{
    align-item:center;
}
.button1{
    display:flex;
    margin:5px;
    align-item:center;
}
.Required{
    color:red;
}

/*.yes{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
    margin:5px;
}
.no{
    margin:5px;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 18px;
}*/
</style>
<div class="row">
    <div class="col-md-4">
        <form asp-action="RegisterUser" enctype="multipart/form-data" class="form">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <fieldset>
            <legend>Log-in-Details</legend>
            <div class="login-in">
            <div class="form-group">
                <label asp-for="Email" class=" control-label"></label>
               
                <input asp-for="Email" class=" form-control" id="TxtEmail"  placeholder="example@gmail.com" />
                 <span class ="Required">*</span>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AlternateEmail" class="control-label"></label>
                <input asp-for="AlternateEmail" class="form-control"  placeholder="example@gmail.com" id="TxtAlternateMail" onblur="EmailChecking()" />
                 
                <span asp-validation-for="AlternateEmail" class="text-danger"></span>
                 <div id="error" style="color:red;"></div>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" placeholder="XYZ" />
                 <span class ="Required">*</span>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                 <span class ="Required">*</span>
                <span asp-validation-for="LastName" class="text-danger"  placeholder="XYZ"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control float-left"  placeholder="example@123" />
                <br />
                 <span class ="Required ">*</span>
                 <br />
                  <span asp-validation-for="Password" class="text-danger float-sm-left"></span>
                 
               
            </div>
            <div class="form-group">
                <label asp-for="ReEnterpassword" class="control-label"></label>
                <input asp-for="ReEnterpassword" class="form-control float-left" placeholder="example@123" />
                 <span class ="Required">*</span>
                <span asp-validation-for="ReEnterpassword" class="text-danger float-right"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jobtype" class="control-label"></label>
                @*<input asp-for="Jobtype" class="form-control" />
                <span asp-validation-for="Jobtype" class="text-danger"></span>*@
                <select   class="form-control" asp-for="Jobtype" id ="jobType" required multiple>
                <option value="" asp-for="Jobtype" selected>--Select type--</option>
                <option value="Internship/Project/Part-time jobs">Internship/Project/Part-time jobs</option>
                <option value="Jobs(fulltime,undergradute,retirement)">Jobs(fulltime,undergradute,retirement)</option>
                 <option value="Overseas Jobs">Overseas Jobs</option>
                 
                </select>
                <input id="job" name="JobTypes" hidden />
                <span class ="Required">*</span>
                <span asp-validation-for="Jobtype" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                <label asp-for="UserStatus" class="control-label"></label>
               @* <input asp-for="UserStatus" class="form-control" />
                <span asp-validation-for="UserStatus" class="text-danger"></span>*@
                <select asp-for="UserStatus" class="form-control"required>
                <option value="" asp-for="UserStatus" selected>--Select type--</option>
                <option  asp-for="UserStatus" value="1">Active</option>
                 <option  asp-for="UserStatus" value="0">InActive</option>
      
                </select>
                <span class ="Required">*</span>
                <span asp-validation-for="UserStatus" class="text-danger"></span>
            </div>
            </div>
            </fieldset>

             <fieldset>
            <legend> Personal-Details:</legend>
            <div class="persoanl">
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" id="phone" placeholder="7893412346"/>
                <span asp-validation-for="PhoneNumber" class="text-danger" ></span>
            </div>
            <div class="form-group">
                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" placeholder="7893412346" />
                <span asp-validation-for="Mobile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" id="dataofBirth"/>
                 <span class ="Required">*</span>
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                @*<input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>*@
                 <select  asp-for="Gender" class="form-control" required>
                <option value="" selected="selected">--Select type--</option>
                <option asp-for="Gender" value="F">Female</option>
                 <option asp-for="Gender" value="M">Male</option>
      
                </select>
                <span class ="Required">*</span>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaritalStatus" class="control-label"></label>
                @*<input asp-for="MaritalStatus" class="form-control" />
                <span asp-validation-for="MaritalStatus" class="text-danger"></span>*@
                <select asp-for="MaritalStatus" class="form-control" required>
                <option value="" selected="selected">--Select type--</option>
                <option value="Married">Married</option>
                 <option value="UnMarried">UnMarried</option>
                
                </select>
                 <span class ="Required">*</span>
                <span asp-validation-for="MaritalStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountryId" class="control-label"></label>
                <select asp-for="CountryId" id="CountryId" class ="form-control" asp-items="ViewBag.Country" required></select>
              <span class ="Required">*</span>
                <span asp-validation-for="CountryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StateId" class="control-label"></label>
                <select asp-for="StateId"  id="StateId"  class ="form-control" required></select>
                <span class ="Required">*</span>
                 <span asp-validation-for="StateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="District" class="control-label"></label>
                <input asp-for="District" class="form-control" />
                <span asp-validation-for="District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CityId" class="control-label"></label>
                <select asp-for="CityId" id="CityId"  class ="form-control" required></select>
                <span class ="Required">*</span>
                <span asp-validation-for="CityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Locality" class="control-label"></label>
                <input asp-for="Locality" class="form-control" required placeholder="Thane"/>
                 <span class ="Required">*</span>
                <span asp-validation-for="Locality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZipCode" class="control-label"></label>
                <input type="text" asp-for="ZipCode" class="form-control" />
               
                <span asp-validation-for="ZipCode" class="text-danger"></span>
            </div>
            </div>
            </fieldset>

             <fieldset>
            <legend>Educational Qualification</legend>
            <div class="education">
            <div class="form-group">
                <label asp-for="HighestQualification" class="control-label"></label>
                @*<input asp-for="HighestQualification" class="form-control" />
                <span asp-validation-for="HighestQualification" class="text-danger"></span>*@
                <select asp-for="HighestQualification" class="form-control">
                            <option value="" selected="selected">-Select Highest Qualification-</option>
                            <option value="No formal education">No formal education</option>
                            <option value="Primary education">Primary education</option>
                            <option value="Secondary education">Secondary education or high school</option>
                            <option value="GED">GED</option>
                            <option value="Vocational qualification">Vocational qualification</option>
                            <option value="Bachelor's degree">Bachelor's degree</option>
                            <option value="Master's degree">Master's degree</option>
                            <option value="Doctorate or higher">Doctorate or higher</option>
                 </select>
                   <span class ="Required">*</span>
                <span asp-validation-for="HighestQualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Specialization" class="control-label"></label>
               @* <input asp-for="Specialization" class="form-control" />
                <span asp-validation-for="Specialization" class="text-danger"></span>*@
                  <select asp-for="Specialization" class="form-control">
                            <option value="" selected="selected">-Select Specialization-</option>
                            <option value="Finace">Finace</option>
                            <option value="Accountancy">Accountancy</option>
                            <option value="IT">IT</option>
                            <option value="CS">CS</option>
                            <option value="phsiology">phsiology</option>
                            <option value="Mechanical">Mechanical</option>
                           
                 </select>
                  <span class ="Required">*</span>
                <span asp-validation-for="Specialization" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Institue" class="control-label"></label>
                @*<input asp-for="Institue" class="form-control" />
                <span asp-validation-for="Institue" class="text-danger"></span>*@
                 <Select asp-for="Institue" class="form-control" onchange='checkvalue(this.value)'>
                     <option value="">-Select Institute-</option>
                     <option value="IISc">IISc</option>
                     <option value="Jawahar Lal Nehru University">Jawahar Lal Nehru University</option>
                     <option value="University Of Mumbai">University Of Mumbai</option>
                     <option value="IIT">Indian Institute of Science Education & Research Bhopal</option>
                     <option value="Mahatma Gandhi University">Mahatma Gandhi University</option>
                     <option value="others">Other</option>
                </select>
                <span class ="Required">*</span>
                <span asp-validation-for="Institue" class="text-danger"></span>
            </div>
            <div class="form-group" name="color" id="color" style='display:none'>
                <label asp-for="OtherInstitue" class="control-label">Other Institue</label>
                <input asp-for="OtherInstitue" class="form-control" type="text"   />
                <span asp-validation-for="OtherInstitue" class="text-danger"></span>
            </div>
            </div>

        
            </fieldset>

             <fieldset>
            <legend>Professional Details</legend>
            <div class="professional">
            <div class="form-group">
                <label asp-for="PreferedLocation" class="control-label"></label>
                <input asp-for="PreferedLocation" class="form-control" placeholder="Rabale" />
                <span asp-validation-for="PreferedLocation" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="ReadyToRelocate" class="control-label">Ready to relocate?</label>
                <div class="yes">
              
                <label for="html">Yes</label><br>
                <input type="radio" id="readytorelocate1" name="readytorelocate" value="True">
                </div>
                <div class="no">
              <label for="html">No</label><br>
                <input type="radio" id="readytorelocate2" name="readytorelocate" value="False">
                <span class ="Required">*</span>
                </div>
                
            </div>
                 @*<div class="form-group">
                <label asp-for="TotalExperience" class="control-label"></label>
                <input asp-for="TotalExperience" class="form-control" />
                <span class ="Required">*</span>
                <span asp-validation-for="TotalExperience" class="text-danger"></span>
             </div>*@
              <div class="input-group">
                    <div class="input-group-prepend">
                        <label asp-for="TotalExperience" class="control-label"></label>
                        <sup class="required">*</sup>
                    </div>
                        <select asp-for="TotalExperience" style="width:50px" class="form-control ms-2 form-select" id="Year" name="Years" asp-items="ViewBag.YearList">
                            <option  value="" disabled>-Select-Total--Experience in Year</option>
                            <option value="0">0</option>
                        </select>
                        <span class="ms-2">(Years)</span>
                    
                        <select asp-for="TotalExperience" style="width:50px" class="form-control ms-2 form-select" id="Month" name="Months" asp-items="ViewBag.MonthList">
                           <option  value="" disabled>-Select-Total--Experience--InMonths</option>
                            <option value="0">1</option>
                        </select>
                        <span class="ms-2">(Months)</span>
                        <span class ="Required">*</span>
                    <span asp-validation-for="TotalExperience" class="text-danger"></span>
                </div>
            <div class="form-group">
                <label asp-for="JobCategory" class="control-label"></label>
                @*<input asp-for="JobCategory" class="form-control" />
                <span asp-validation-for="JobCategory" class="text-danger"></span>*@
                 <Select asp-for="JobCategory" class="form-control" required >
                    <option  value="" selected="selected">-Select-Job-Category-</option>
                    <option  value="Manager">Manager</option>
                    <option value="Product Manager">Product Manager</option>
                    <option value="Software Developer">Software Developer</option>
                    <option value="System Administrator">System Administrator</option>
                </select>
                 <span class ="Required">*</span>
                <span asp-validation-for="JobCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KeySkills" class="control-label"></label>
                <input asp-for="KeySkills" class="form-control" placeholder="Python"  />
                <span class ="Required">*</span>
                <span asp-validation-for="KeySkills" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentIndustry" class="control-label"></label>
                @*<input asp-for="CurrentIndustry" class="form-control" />
                <span asp-validation-for="CurrentIndustry" class="text-danger"></span>*@
                  <Select asp-for="CurrentIndustry" class="form-control" >
                    <option value="">-Select Industry-</option>
                    <option value="infosys">Infosys</option>
                    <option value="tcs">TCS</option>
                    <option value="airtel">airtel</option>
                </Select>
            </div>
            <div class="form-group">
                <label asp-for="CurrentEmployer" class="control-label"></label>
                <input asp-for="CurrentEmployer" class="form-control" />
                <span asp-validation-for="CurrentEmployer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentDesignation" class="control-label"></label>
                <input asp-for="CurrentDesignation" class="form-control" />
                <span asp-validation-for="CurrentDesignation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviousEmployer" class="control-label"></label>
                <input asp-for="PreviousEmployer" class="form-control" />
                <span asp-validation-for="PreviousEmployer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PreviousDesignation" class="control-label"></label>
                <input asp-for="PreviousDesignation" class="form-control" />
                <span asp-validation-for="PreviousDesignation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoticePeriod" class="control-label"></label>
                @*<input asp-for="NoticePeriod" class="form-control" />
                <span asp-validation-for="NoticePeriod" class="text-danger"></span>*@
                 <Select asp-for="NoticePeriod" class="form-control" >
                    <option  value="Immediately">Immediately</option>
                    <option value="60 Days">60 Days</option>
                    <option value="90 Days">90 Days</option>
                </select>
            </div>
            @*<div class="form-group">
                <label asp-for="CtcNumber" class="control-label"></label>
                <input asp-for="CtcNumber" class="form-control" />
                <span asp-validation-for="CtcNumber" class="text-danger"></span>
            </div>*@
            <div class="input-group">
                    <div class="input-group-prepend">
                        <label asp-for="CtcNumber" class="control-label"></label>
                    </div>
                        <select asp-for="CtcNumber" style="width:50px" class="form-control ms-2 form-select" id="Lakh" name="Lakhs" asp-items="ViewBag.LakhList">
                                <option value="0">1</option>
                        </select>
                        <span class="ms-2">(Lakhs)</span>
                    
                        <select asp-for="CtcNumber" style="width:50px" class="form-control ms-2 form-select" id="Thousand" name="Thousands" asp-items="ViewBag.ThousandList">
                                <option value="0">1</option>
                        </select>
                        <span class="ms-2">(Thousands)</span>
                    
                </div>
            <div class="form-group">
                <label asp-for="ResumeTitle" class="control-label"></label>
                <input asp-for="ResumeTitle" class="form-control" />
                <span class ="Required">*</span>
                <span asp-validation-for="ResumeTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResumeFile" class="control-label"></label>
                <input asp-for="ResumeFile" class="form-control" onblur="Filevalidation()" id="file" />
                @*<span asp-validation-for="ResumeFile" class="text-danger"></span>*@
                <div id="validation" style="color:red;"></div>
            </div>
            <div class="form-group">
                <label asp-for="Resume" class="control-label"></label>
                <textarea asp-for="Resume" class="form-control" id="summernote"></textarea>
                <span asp-validation-for="Resume" class="text-danger"></span>
            </div>
          </div>
          </fieldset>
          <div class="button1">
            <div class="form-group ">
                <input type="submit" value="Submit" class="btn btn-secondary" id="submit" />   
            </div>
            <div class="form-group">
             <input type="reset" value="Reset" class="btn btn-secondary" />
           </div>
           </div>
          
        </form>
    </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

@*<script>
function Usercheck(){
    $('#status').html("checking...");
    $.post("@Url.Action("IsMobileExist","User")",
        {
            Mobile Number: $("#phone").val()
        },
        function(data) {
            if (data == 0) {
                $("#status").html('<font color="Green">not used you can take it..</font>');
                $("#phone").css("border-color", "Green");

            }
            else {
                $("#status").html('<font color="Red">Phone Number already Exist.</font>');
                $("#phone").css("border-color", "Red");
            }
        });
}
</script>*@
<script>
$(function() {
    var today = new Date();
    console.log(today);
    var thisDate = today.getDate();
    console.log(thisDate);
    var thisMonth = '0' + (today.getMonth() + 1);
    console.log(thisMonth);
    var thisYear = today.getFullYear();
    console.log( thisYear);
    var validYear = thisYear - 18;
    console.log( validYear);
    var maxDate = validYear + '-' + thisMonth + '-' + thisDate;
    console.log( maxDate);
    $('#dataofBirth').attr('max', maxDate);

});
</script>

<script type="text/javascript">
    Filevalidation = () => {
    const fi = document.getElementById('file');
    // Check if any file is selected.
    if (fi.files.length > 0) {
        for (var i = 0; i <= fi.files.length - 1; i++) {

            var fsize = fi.files.item(i).size;
            var file = Math.round((fsize / 1024));
            // The size of the file.
            if (file >=4096) {
                var error = "File is too big to upload please select a file less than 4mb";
                document.getElementById('validation').innerHTML = error;
            }
            else 
            {
                document.getElementById('validation').innerHTML = '';
            }
        }
    }
}

</script>
<script type="text/javascript">
    //$(function () {
    //    $("#institue").change(function () {
    //        if ($(this).val() == 5) {
    //            $("#txtOther").removeAttr("disabled");
    //            //$("#txtOther").focus();
    //        } else {
    //            $("#txtOther").attr("disabled", "disabled");
    //        }
    //    });
    //});
    function checkvalue(val)
{
    if(val==="others")
       document.getElementById('color').style.display='block';
    else
       document.getElementById('color').style.display='none'; 
}
</script>


    <script type="text/javascript">
        $(document).ready(function () {

            $("#submit").click(function(){
                console.log(("#StateId").value)
            })

            $("#CountryId").change(function () {
                //debugger;
                var id = $(this).val();
                $("#StateId").empty();
                $.get("State_Bind", { CountryId : id }, function (data) {
                    console.log(data)
                    var v = "<option>---Select---</option>";
                    $.each(data, function (i, v1) {
                        v += "<option value=" + v1.value + ">" + v1.text + "</option>";
                    });
                    $("#StateId").html(v);
                });
            });

            $("#StateId").change(function () {

                var id = $(this).val();
                $("#CityId").empty();
                $.get("City_Bind", { StateId: id }, function (data) {
                    console.log(data)
                    var v = "<option>---Select---</option>";
                    $.each(data, function (i, v1) {
                        v += "<option value=" + v1.value + ">" + v1.text + "</option>";
                    });
                    $("#CityId").html(v);
                });
            });
        });
    </script>

<script type="text/javascript">

    
$("#submit").click(function() {
    let s = $("#jobType").val().join("| ");
    console.log(s);
    $("#job").val(s);

});

    </script>

<script type="text/javascript">

    function EmailChecking(){
    var email = document.getElementById('TxtEmail').value;
    var alternateEmail = document.getElementById('TxtAlternateMail').value;
    if(email==alternateEmail)
    {
        var error = "Email & Alternate Email Should Not Be Same";
        document.getElementById('error').innerHTML = error;
    }
    else 
    {
        document.getElementById('error').innerHTML = '';
    }
}
</script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
  
    <script>
      $('#summernote').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 200,
        toolbar: [
          ['style', ['style']],
          ['font', ['bold', 'underline', 'clear']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['table', ['table']],
          ['insert', ['link', 'picture', 'video']],
          ['view', ['fullscreen', 'codeview', 'help']]
        ]
      });
    </script>
 
    
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


