﻿@model IEnumerable<ProductMvcProject.Models.ShoppingCart>

@{
    ViewData["Title"] = "Viewcart";
    Layout = "~/Views/Shared/_Layoutuserdashoboard.cshtml";
}



@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
@if (TempData["Add"] != null)
{
    <div class="alert alert-danger">
        <strong>@TempData["Add"]</strong>
    </div>
}
@if(Model.Count() > 0)
{
    <table class="table">
    <thead>
        <tr>
             <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
           
            <th></th>
        </tr>
    </thead>

   
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <img src="~/Images/@item.ImageUrl" style="width:75px;height:75px;"/>
                
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductID)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategory)
            </td>
            <td>
                @*@/*Html.DisplayFor(modelItem => item.Price)*/*@
                @(item.Quantity*item.Price)
            </td>
           
                @*@Html.DisplayFor(modelItem => item.Quantity)*@
                <td class="quant">
                <a asp-action="Subcartitem" asp-route-id="@item.CartID" class="minus">-</a>
               @Html.DisplayFor(modelItem => item.Quantity)
               <a asp-action="Addcartitem" asp-route-id="@item.CartID" class="plus">+</a>


            </td>
           
            
            <td>
                <a asp-action="DeleteFromCart" asp-route-id="@item.ProductID" class="close-td first-row" >Remove from cart</a> |
               
            </td>
        </tr>
}
    </tbody>
    </table>
   
}
else
{
    <h4 class="font-weight-bold Text-center"> Your cart is empty</h4>
   
     <a class="btn btn-outline-danger" asp-action="ViewProduct" data-abc="true">View Products</a>
}
@if(Model.Count()>0)
{

    <a class="btn btn-outline-primary btn-sm" asp-action="CheckOut" data-abc="true">Checkout</a>
}


