﻿@model IEnumerable< ProductMvcProject.Models.ProductDb>
@{
    ViewData["Title"] = "ViewProduct";
    Layout = "~/Views/Shared/_Layoutuserdashoboard.cshtml";
}

<style type="text/css">
   
.carousel,.item,.active{height:100%;}
.carousel-inner{height:100%;}
  .body {
    background-color: #eee
}
 .mt-100{
 margin-top: 100px;

 }
                                	.card {
    border-radius: 7px !important;
    border-color: #e1e7ec;
}

.mb-30 {
    margin-bottom: 30px !important;
}

.card-img-tiles {
    display: block;
    border-bottom: 1px solid #e1e7ec;
}

a {
    color: #0da9ef;
    text-decoration: none !important;
}

.card-img-tiles>.inner {
    display: table;
    width: 100%;
}

.card-img-tiles .main-img, .card-img-tiles .thumblist {
    display: table-cell;
    width: 65%;
    padding: 15px;
    vertical-align: middle;
}

.card-img-tiles .main-img>img:last-child, .card-img-tiles .thumblist>img:last-child {
    margin-bottom: 0;
}

.card-img-tiles .main-img>img, .card-img-tiles  {
    display: block;
    width: 100%;
    margin-bottom: 6px;
}




.card-img-tiles .thumblist>img {
    display: block;
    width: 100%;
    margin-bottom: 6px;
}
.btn-group-sm>.btn, .btn-sm {
    padding: .45rem .5rem !important;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

</style>
@if (TempData["success"] != null)
{
    <div class="alert alert-success">
        @TempData["success"]
    </div>
}
@*@if (TempData["error"] != null)
 {
     <div class="alert alert-danger">
      @TempData["alert"]
      </div>
   
}*@

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="~/Images/slider3.png" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="~/Images/slider6.png" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="~/Images/slide5.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
    
    
    <div class="container mt-100 flex-row">
     <div class="row">
    @foreach(var item in Model)
    {
    
    <div class="col-md-4 col-sm-6">
       <div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
         <div class="inner">
            <div class="main-img"><img src="~/Images/@item.ImageUrl" alt="Category" height="300px" width="350px"></div>
          </div></a>
        <div class="card-body text-center">
           <h4 class="card-title">@item.ProductName</h4>
           <p class="text-muted">@item.Price.ToString(format:"#,##0.00 INR")</p><a class="btn btn-outline-primary btn-sm" asp-action="AddTocart" asp-route-id="@item.ProductID"   data-abc="true">Add to cart</a>
       
       </div>
        </div>
      </div>
       
    }   
</div>
</div> 
