<!-- <p>register works!</p> -->
<!-- <div class="register-layout">

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                User Registration
            </mat-panel-title>
            <mat-panel-description>
                Enter your Details
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="form-layout">
            <mat-form-field>
                <mat-label>Username</mat-label> -->
<!-- <input matInput placeholder="Enter Your Username" type="text"[(ngModel)]="user.Name"> -->
<!-- <input matInput placeholder="Enter Your Username" type="text" id="name" name="name" class="form-control" required minlength="5" maxlength="10" pattern="[a-zA-Z][a-zA-Z ]+"
                     [(ngModel)]="user.Name" #name="ngModel">
                    </mat-form-field>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">

                    <div *ngIf="name.errors?.['required']">
                        Name is required.
                    </div>
                    <div *ngIf="name.errors?.['pattern']">Only alphabetsallowed</div>
                    <div *ngIf="name.errors?.['minlength']">
                        Name must be at least 5 characters long.
                    </div>
           </div>

        

            <mat-form-field>
                <mat-label>Email</mat-label>
                <input matInput placeholder="Enter your email" type="email" [(ngModel)]="user.Email"required>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter your password" type="password" [(ngModel)]="user.Password"required>
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="registerUser()">Register</button>
        </div>

    </mat-expansion-panel>
</div> -->

<div class="container">
    <div class="row mt-lg-5">
        <div class="col-md-6 col-lg-4 offset-4 border border-primary rounded pl-5 pr-5 pb-5 ">
            <h3 class="text-center mb-0">Welcome</h3>
            <p class="text-center">Register by entering the information below</p>

            <form>
                <div class="form-group mt-2">
                    <label>Username</label>
                    <input type="text" placeholder="Enter Your Username" type="text" id="name" name="name"
                        class="form-control" required minlength="5" maxlength="10" pattern="[a-zA-Z][a-zA-Z ]+"
                        [(ngModel)]="user.Name" #name="ngModel" />
                </div>
                <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
                    

                    <div *ngIf="name.errors?.['required']" class="alert alert-danger">
                        Name is required.
                    </div>
                    <div *ngIf="name.errors?.['pattern']" class="alert alert-danger">
                        Only alphabetsallowed
                    </div>
                    
                </div>
                <div class="form-group mt-2">
                    <label>Email</label>
                    <input placeholder="Enter your email" class="form-control"  type="email" [(ngModel)]="user.Email" required>
                </div>
                <div class="form-group mt-2">
                    <label>Password</label>
                    <input placeholder="Enter your password" class="form-control"  type="password" [(ngModel)]="user.Password" required>
                </div>
                <div class="form-group mt-2">
                    <button type="submit" class="btn form-control btn-primary rounded submit px-3"(click)="registerUser()">Register </button>
                </div>
            </form>

        </div>
    </div>
</div>