<!-- <div class="container mt-100 flex-row">
    <div class="row">
   <div class="col-md-4 col-sm-6" *ngFor="let item of product">
      <div class="card mb-30"><a class="card-img-tiles" href="#" data-abc="true">
        <div class="inner">
           <div class="main-img"><img [src]="item.image" alt="Category" height="300px" width="300px" ></div>
         </div></a>
       <div class="card-body text-center">
          <h4 class="card-title">{{item.productName}}</h4>
          <p class="text-muted">{{item. productDescription}}</p>
          <p class="text-muted">${{item.price}}</p><a class="btn btn-outline-primary btn-sm">Add to Cart</a>
      
      </div>
       </div>
     </div> 
  </div>
  </div> -->
