﻿@model ProductMvcProject.Models.ProductDb

@{
    ViewData["Title"] = "DeleteProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>DeleteProduct</h2>

<h4>Are you sure you want to delete this?</h4>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Product
            @*@Html.DisplayNameFor(model => model.ProductName)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            Category
            @*@Html.DisplayNameFor(model => model.ProductCategory)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCategory)
        </dd>
        <dt class = "col-sm-2">
            Description
            @*@Html.DisplayNameFor(model => model.ProductDescription)*@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modified_at)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modified_at)
        </dd>*@
        <dt class = "col-sm-2">
            Image
            @*@Html.DisplayNameFor(model => model.ImageUrl)*@
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Images/@Model.ImageUrl" style="width:75px;height:75px;"/>
        </dd>
    </dl>
    
    <form asp-action="DeleteProduct">
        <input type="hidden" asp-for="ProductID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back Product to List</a>
    </form>
</div>
