﻿@model ProductMvcProject.Models.ProductDb

@{
    ViewData["Title"] = "EditProduct";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>







<h3>Edit Product</h3>





<hr />

<div class="row">

    <div class="col-md-4">

        <form asp-action="EditProduct" enctype="multipart/form-data">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="ProductID" />

            <div class="form-group">

                <label asp-for="ProductName" class="control-label">Product</label>

                <input asp-for="ProductName" class="form-control" />

                <span asp-validation-for="ProductName" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="ProductCategory" class="control-label">Category</label>

                <input asp-for="ProductCategory" class="form-control" />

                <span asp-validation-for="ProductCategory" class="text-danger"></span>

            </div>

            <div class="form-group">

                <label asp-for="ProductDescription" class="control-label">Description</label>

                <input asp-for="ProductDescription" class="form-control" />

                <span asp-validation-for="ProductDescription" class="text-danger"></span>

            </div>
            <div class="form-group">

                <label asp-for="Price" class="control-label"></label>

                <input asp-for="Price" class="form-control" />

                <span asp-validation-for="Price" class="text-danger"></span>

            </div>
            @*<div class="form-group">

                <label asp-for="Modified_at" class="control-label"></label>

                <input asp-for="Modified_at" class="form-control" />

                <span asp-validation-for="Modified_at" class="text-danger"></span>

            </div>*@

            <div class="form-group">

            
                <img src="~/Images/@Model.ImageUrl" height=75px width=75px id="blah" asp-append-version="true" />

                <input type="file" name="file"  src="~/Images/@Model.ImageUrl" onchange="readURL(this);"/>

                <span asp-validation-for="ImageUrl" class="text-danger"></span>

            </div>

            <div class="form-group">

                <input type="submit" value="Save" class="btn btn-primary" />

            </div>

        </form>

    </div>

</div>



<div>

    <a asp-action="Index">Back to List</a>

</div>
<script>
    function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(75)
                        .height(75);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>

