<ng-container *ngIf="cartDetails.length!=0">
    <div class="container" >
        <table class="table">
            <thead class="thead-light">
                <tr>

                </tr>
                <tr></tr>
                <tr>
                    
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody >
                <tr *ngFor="let item of cartDetails">
                <td><img [src]="item.image" alt="Category" height="50px" width="50px"></td>
                  <th scope="row">{{item.productName}}</th>
                  
                  <td><div class="col">
                    <span style="cursor:pointer" (click)="updateCartItem('decrement',item.bookingId)" class="h4 p-2">-</span><span class="border p-2">{{item.quantity}}</span><span style="cursor:pointer" (click)="updateCartItem('increment',item.bookingId)" class="h5 p-2">+</span>
                  </div>
                </td>
                  <td><span class="col">₹ {{item.productPrice * item.quantity}}</span></td>
          
                  <td><a class="btn btn-outline-danger btn-sm" (click)="DeleteCart(item.bookingId)">Delete</a></td>
                </tr> 
              </tbody>
        </table>
        <div class="col container"><b class="h5">Total Price : ₹ {{total}}</b> </div>
    </div>
    
    
</ng-container>

<ng-container *ngIf="cartDetails.length==0">
    <div class="container">
        <div class="card">


        </div>
        <div class="center">
            <h2>Your cart is empty</h2>
            <h4> Add item to your Cart</h4>
            <a class="btn btn-primary" href="http://localhost:4200/product">Shop now</a>
        </div>
    </div>
</ng-container>

  
<div id="footer"
class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-info">
<!-- Copyright -->
<div class="text-white mb-3 mb-md-0">
  Copyright © 2020. All rights reserved.
</div>
<!-- Copyright -->

<!-- Right -->
<div>
  <a href="#!" class="text-white me-4">
    <i class="fab fa-facebook-f"></i>
  </a>
  <a href="#!" class="text-white me-4">
    <i class="fab fa-twitter"></i>
  </a>
  <a href="#!" class="text-white me-4">
    <i class="fab fa-google"></i>
  </a>
  <a href="#!" class="text-white">
    <i class="fab fa-linkedin-in"></i>
  </a>
</div>
<!-- Right -->
</div>
