<!-- <p>header works!</p> -->

<mat-toolbar color="bg-info">
    <mat-toolbar-row>
      <span>Product App</span>
      
      <button mat-raised-button color="accent" routerLink="" class="btn4"  *ngIf="GetROle()==false">Home</button>
      <button mat-raised-button color="accent" routerLink="" class="btn4"  *ngIf="GetROle()==true">Home</button>
      <button mat-raised-button color="accent" routerLink="admin" class="btn4"  *ngIf="GetROle()==true">Product</button>



        <button mat-raised-button color="accent" class="btn1" routerLink="register"*ngIf="LocalStorage()==null">Register</button>
      
      <button mat-raised-button color="accent" routerLink="login" class="btn2" *ngIf="LocalStorage()==null">Login</button>
      <button mat-raised-button color="accent" routerLink="product" class="btn3"  *ngIf="GetROle()==false">Product</button>
      <button mat-raised-button color="accent" routerLink="cart" class="btn4"  *ngIf="GetROle()==false">Cart</button>
      
     
      <div class="username" *ngIf="LocalStorage()!=null"><span>Welcome {{DisplayUsername}}</span>
      <button mat-raised-button color="accent" routerLink="logout"  *ngIf="LocalStorage()!=null">Logout</button>
    </div>
    </mat-toolbar-row>
   

