.example-spacer {
    flex: 1 1 auto;
  }
  
  /* .btn{
    margin:900px;
  } */
 .btn2{
   margin: 10px;
  } 
  
  .btn3{
    margin-right:10px;
    padding-right: 60px;
  }
  .btn4{
    margin-right:10px;
    text-align: center;
    
    padding-right: 60px;
  }
  span{
    text-decoration: brown;
    margin: 5px;
  }
  .username{
    margin: 700px;
    
  }