
<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup]="form">
  
            <!-- Email input -->
            <div class="form-outline mb-4">
             <label class="col-form-label control-label">User Name:</label>
              <input  formControlName="name" minlength="5" maxlength="8" type="text" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter Username" [(ngModel)]="login.username" name="username" id="username"/>
                <small *ngIf="form.get('name')?.invalid && form.get('name')?.touched " class="text-danger">This Field is not valid</small>
              </div>
  
            <!-- Password input -->
            <div class="form-outline mb-3">
              <label class="col-form-label control-label">Password:</label>
              <input formControlName="password" type="password" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter password" [(ngModel)]="login.password" name="password" id="password"/>
                <small *ngIf="form.get('password')?.invalid && form.get('password')?.touched " class="text-danger">Password should contain Alphabet and numberic value and atleast one special character  </small>
              </div>
  
            
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button [disabled]="form.invalid" type="button" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;"(click)="Gotologin()">Login</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? 
                <a class="link-danger" href="http://localhost:4200/register">Register</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
    <div id="footer"
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-info">
      <!-- Copyright -->
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2020. All rights reserved.
      </div>
      <!-- Copyright -->
  
      <!-- Right -->
      <div>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fab fa-google"></i>
        </a>
        <a href="#!" class="text-white">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
      <!-- Right -->
    </div>
  </section>
